<section #contentSection class="content-section" *ngIf="!isLoadingOtherContent; else contentArticlesSkeleton">
  <h4 class="content-section-title">Новые статьи</h4>
  <div *ngIf="!isLoadingContentArticles; else contentSkeleton" class="content-articles">
    <p-inputGroup class="input-group">
      <button (click)="searchArticles()" class="search" type="button" pButton label="Найти"></button>
      <input [formControl]="search" class="search" type="text" pInputText placeholder="Искусственный интеллект..." />
      <div class="search-wrapper" *ngIf="searchedTitles?.count">
        @for (searched of searchedTitles.rows; track searched.title) {
          <a [routerLink]="'articles/' + searched.id"><p class="search-title">{{ searched.title }}</p></a>
        }
      </div>
    </p-inputGroup>
    <div *ngIf="chosenTags.length" class="chosen-tag-wrapper">
      @for (tag of chosenTags; track tag.id) {
        <p class="chosen-tag"> #{{tag.name}} </p>
      }
      <button (click)="resetTags()" severity="secondary" class="search" type="button" pButton label="Сбросить тэг"></button>
    </div>
    @for (article of contentArticles.rows; track article.id) {
      <app-article-card [article]="article"></app-article-card>
    }
    <div class="nothing-found" *ngIf="contentArticles.rows.length === 0">
      <p>Ничего не найдено ;(</p>
    </div>
    <mat-paginator [disabled]="contentArticles.rows.length === 0" [pageSize]="limit" [pageIndex]="page - 1"
                   (page)="changePage($event)" [length]="contentArticles.count" [pageSizeOptions]="[3, 5, 10]" />
  </div>
  <div *ngIf="($tags | async) as tags">
    <h4 class="content-section-title" style="padding-bottom: 1rem;border-bottom: 1px solid gray">Тэги</h4>
    @for (tag of tags.rows; track tag.id) {
      <p (click)=" searchByTag(tag)" [ngClass]="{'tag-name': true, 'highlighted-tag': isTagChosen(tag.id)}">{{ tag.name }}</p>
    }
  </div>
</section>
<ng-template #contentSkeleton>
  <p-skeleton height="1000px" />
</ng-template>

<ng-template #contentArticlesSkeleton>
  <div class="skeleton-wrapper">
    <p-skeleton height="1000px" />
    <p-skeleton height="1000px" />
  </div>
</ng-template>
