<div class="article-card">
  <p-skeleton height="350px" borderRadius="16px" class="skeleton-card" />
  <img injectImage imageId="{{article.thumbnail}}" class="article-card-image" />
  <div class="article-card-content">
    <h3 class="title">{{ article.title }}</h3>
    <div class="user-info">
      <div class="field-wrapper">
        <app-avatar [imageUrl]="article.user.avatarUrl"></app-avatar>
        <div class="field-wrapper">
          <p>Автор: {{ article.user.email }}</p>
        </div>
      </div>
      <div *ngIf="article.articleActiveType === 1" class="field-wrapper">
        <CalendarIcon />
        <p >Дата публикации: {{ article.createdAt | date : "HH:MM MM-dd-YYYY" }}</p>
      </div>
      <div  *ngIf="article.articleActiveType === 1" class="field-wrapper">
        @for (tag of article.articleTypes.slice(0, 3); track tag.articleTypeId) {
          <mat-chip>{{ tag.articleType.name }}</mat-chip>
        }
      </div>
    </div>
  </div>
  <a class="article-link" *ngIf="toModerate || article.articleActiveType === 1" [routerLink]="toModerate ? '/articles/' + article.id + '/moderate' : '/articles/' + article.id"></a>
  <div *ngIf="!toModerate && article.articleActiveType !== 1" class="is-not-affordable">
    <h5 style="font-size: 32px">{{this.disabledMessage}}</h5>
  </div>
</div>
