@import "../../styles/index.less";

:host {
  align-self: flex-start;
  width: 100%;
}

.skeleton-class {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.article-field {
  display: flex;
  gap: 1rem;
  align-items: center;
}


.article-content {
  background-color: @elem-background;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 3rem;
  box-sizing: border-box;

  .accent-field {
    font-size: 1rem;
  }

}

.article-user {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;

  & * {
    margin-bottom: 0;
  }
}
