<div #root class="skeleton-class" *ngIf="($articleLoading | async)">
  <p-skeleton height="370px" borderRadius="8px" />
  <p-skeleton height="800px" borderRadius="8px" />
</div>
<article *ngIf="($article | async) as fullArticle">
  <app-thumbnail-container [isEditAvailable]="!toModerate && ($userDataSelector | async)?.id === fullArticle.article.userId" [articleInfo]="fullArticle.article | toArticleInfo"></app-thumbnail-container>
  <div [ngClass]="{
  'article-content': true,
  'article-user': true
  }">
    <div class="article-field">
      <a [routerLink]="'/profile/' + fullArticle.article.userId">
        <app-avatar [imageUrl]="fullArticle.article.user.avatarUrl" [size]="60"></app-avatar>
      </a>
      <h2>Автор - {{ fullArticle.article.user.email }}</h2>
    </div>
    <p class="accent-field">Опубликовано {{ fullArticle.article.createdAt | date : "HH:MM MM-dd-YYYY" }}</p>
  </div>
  <section class="article-content" [innerHTML]="safeHtml" toHtml [content]="fullArticle.article.content"
           (safeHtml)="setSafeHtml($event)">
  </section>
  <div *ngIf="!toModerate" class="article-content article-flex-content" style="padding-top: 0;">
    <div class="article-field">
      <app-svg-icon name="eye"></app-svg-icon>
      <p class="accent-field" intersection-observer [isTriggerOnce]='true' (callback)="triggerView()" style="font-weight: 500; margin: 0">
        Количество просмотров:
        {{ fullArticle.article.qtyOfViews }}
      </p>
    </div>
    <div *ngIf="!!articleRates" style="display: flex; gap: 24px;">
        <button [disabled]="ratingDisable || !($isUserAuthSelector | async)" (click)="rateArticle(1, isTouched(1))" [ngClass]="{like: isTouched(1), button: $isUserAuthSelector | async}"  class="article-field" style="background-color: white; border: none">
            <app-svg-icon name="like-svgrepo-com"></app-svg-icon>
            <p class="accent-field">{{articleRates.likes || 0}}</p>
        </button>
        <button [disabled]="ratingDisable || !($isUserAuthSelector | async)" (click)="rateArticle(0, isTouched(0))" [ngClass]="{dislike: isTouched(0), button: $isUserAuthSelector | async}" class="article-field" style=" background-color: white; border: none">
            <app-svg-icon name="dislike-svgrepo-com"></app-svg-icon>
            <p class="accent-field">{{articleRates.dislikes || 0}}</p>
        </button>
    </div>
  </div>
</article>
<ng-container *ngIf="!toModerate">
<div intersection-observer [isTriggerOnce]="true" (callback)="fetchComments()"></div>
 <app-create-comment (createComment)="createComment($event)" [isLoading]="($commentsLoading | async) ?? false" *ngIf="$isUserAuthSelector | async"></app-create-comment>
<ul *ngIf="!($commentsLoading | async) && (($comments | async)?.length)">
  <app-comment-card (openDeleteModal)="openDeleteCommentModal($event)" *ngFor="let comment of $comments | async; trackBy: commentsTrackBy" [comment]="comment"></app-comment-card>
  <div  *ngIf="($comments | async)">
  <mat-paginator *ngIf="($commentsCount | async) ?? 0 > commentsPageSize" [pageSize]="commentsPageSize" [pageIndex]="page - 1"
                  (page)="changeCommentsPage($event)" [length]="$commentsCount | async" />
  </div>
</ul>
  <app-modal [isOpen]="isDeleteCommentModalOpened" (closeModal)="closeDeleteCommentModal()">
    <h4>Вы уверены что хотите удалить комментарий?</h4>
    <div style="display: flex; gap: 16px; justify-content: space-between">
      <button (click)="closeDeleteCommentModal()" style="flex: 1; padding: 8px; text-align:center;  " type="button" pButton >Вернуться</button>
      <button  (click)="deleteComment()" style=" flex:1; padding: 8px; text-align:center;  " type="button" pButton >Удалить</button>
    </div>
  </app-modal>
<div class="skeleton-class" *ngIf="($commentsLoading | async)">
  <p-skeleton height="370px" borderRadius="8px" />
  <p-skeleton height="200px" borderRadius="8px" />
  <p-skeleton height="200px" borderRadius="8px" />
  <p-skeleton height="200px" borderRadius="8px" />
</div>

</ng-container>
