<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <legend>{{title}}</legend>
  <div class="field-wrapper">
    <label for="title" class="field-wrapper-title">Введите название</label>
    <mat-form-field class="form-file">
      <mat-label>Название</mat-label>
      <input formControlName="title" id="title" matInput type="text">
      <p class="error-title" *ngIf="form.controls.title.errors && form.controls.title.touched">Название должно содержать
        от 30 до 100 символов</p>
    </mat-form-field>
  </div>
  <ng-container *ngIf="tags">
    <app-choose-tags [(chosenTags)]="chosenTags" [tags]="tags"></app-choose-tags>
    <button style="margin-bottom: 1rem" class="btn-form" (click)="restoreChosenTags()" type="button" mat-raised-button
            [disabled]="!chosenTags.length">Сбросить
    </button>
  </ng-container>
  <div class="field-wrapper">
    <label class="field-wrapper-title">Выберите превью для статьи</label>
    <app-choose-file [defaultUrl]="article ? imageUrl : null" [(file)]="file"></app-choose-file>
  </div>
  <app-text-editor [error]="htmlError" [html]="html" (htmlChange)="html = $event"></app-text-editor>
    <div class="btn-wrapper">
      <button (click)="redirectToFirstPage()" *ngIf="article" type="button" style="background-color: #f67878" [ngClass]="{disabled: isLoading}" [disabled]="isLoading" class="btn-form" mat-raised-button>Отмена</button>
      <button [ngClass]="{disabled: isLoading}" [disabled]="isLoading" class="btn-form" type="submit" mat-raised-button>{{article ? "Изменить" : "Создать"}}</button>
  </div>
</form>
