:host {
  align-self: flex-start;
  width: 100%;
  padding: 30px;
}


.main-articles-skeleton {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;

  & app-article-card {
    &:nth-child(2) {
      grid-column: 2/4
    }

    &:nth-child(3) {
      grid-column: 1/3
    }
  }
}

