<section class="thumbnail">
  <div class="thumbnail-content">
    <h1 class="thumbnail-title">{{ articleInfo.title }}</h1>
    <div class="thumbnail-chips">
      @for (tag of articleInfo.articleTypes; track tag.id) {
        <mat-chip>{{ tag.articleType.name }}</mat-chip>
      }
    </div>
  </div>
  <a *ngIf="isEditAvailable" class="edit-link" [routerLink]="'/edit-article/' + articleInfo.id"><app-svg-icon name="edit-3-svgrepo-com"></app-svg-icon></a>
  <img alt="thumbnail" class="thumbnail-image" injectImage [imageId]="articleInfo.thumbnail">
</section>
